@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* HEADER */

strong {
   font-weight: bold;
}

hr {
   color:#ededed;
}

header {
  text-align: center;
}

h1 {
  padding: 5px;
  margin: 0px;
  margin-top: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight:100;
  font-size: 60px;
}

h2 {
   padding: 5px;
   margin: 0px;
   margin-top: 15px;
   font-family: 'Raleway', sans-serif;
   font-weight:100;
   font-size: 30px;
   text-align: center;
}

h3 {
   padding: 5px;
   margin: 0px;
   margin-top: 15px;
   font-family: 'Raleway', sans-serif;
   font-weight:200;
   font-size: 27px;
}

/* NAVIGATION MENU */
nav {
  text-align: center;
  padding-bottom: 20px;

  box-shadow: 0 8px 5px -5px grey;
  width: 100%;
}

hr {
  margin:0px;
  padding:0px;
}

ul {
  list-style-type: none;
  margin:0px;
  padding:0px;
}

li {
  display: inline-block;
}

li a {
  text-align: center;
  display:inherit;
  color:gray;
  padding: 25px;
  text-decoration: none;
  overflow:hidden;
}

li a:hover {
  border-bottom: 3px solid black;
  padding-bottom:22px;
}

#active {
  border-bottom: 3px solid black;
  padding-bottom:22px;
  color:black;
}


/* MAIN CONTENT */

body {
  align-content: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 100;
}

article {
   margin-top: 20px;
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
